@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to ";
}

<div class="text-center" style="background-color:cadetblue">
    <h1 class="display-4"><b><font color="light blue">Welcome</font></b></h1>
    <p>You are learning about Git, Ansible and Github Action.</p>
</div>
